<!DOCTYPE html>
<html>
  <head>
    <title>BACKEND : Plants</title>
    <style>
      body {
        padding: 20px;
      }

      table,
      td,
      th {
        border: 1px solid;
        padding: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <!-- START -->

    <h1>Table InfoWeathers</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>Location</th>
        <th>Temperature</th>
        <th>Label</th>
      </tr>
      {{range .InfoWeathers}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.UserID}}</td>
        <td>{{.Location}}</td>
        <td>{{.Temperature}}</td>
        <td>{{.Label}}</td>
      </tr>
      {{end}}
    </table>
    <br />
    <hr />

    <h1>Table Suggestions</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>Message</th>
      </tr>
      {{range .Suggestions}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.UserID}}</td>
        <td>{{.Message}}</td>
      </tr>
      {{end}}
    </table>
    <br />
    <hr />

    <h1>Table Complaints</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Notes</th>
      </tr>
      {{range .Complaints}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.UserID}}</td>
        <td>{{.PhoneNumber}}</td>
        <td>{{.Email}}</td>
        <td>{{.Notes}}</td>
      </tr>
      {{end}}
    </table>
    <br />
    <hr />

    <!-- END -->
  </body>
</html>
