name: CI/CD to Docker Hub and Deploy

on:
  push:
    branches: ["master"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t backend-golang:latest .

      - name: Tag Docker image
        run: docker tag backend-golang:latest widhofaisal/backend-golang:latest

      - name: Push Docker image
        run: docker push widhofaisal/backend-golang:latest

      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GCE_SA_KEY }}'

      - id: 'compute-ssh'
        uses: 'google-github-actions/ssh-compute@v0'
        with:
          instance_name: 'agriplant'
          zone: 'asia-southeast2-a'
          user: 'widhofaisal26'
          ssh_private_key: '${{ secrets.GCP_SSH_PRIVATE_KEY }}'
          command:  |
            sudo docker stop container_backend_golang
            sudo docker rm -v container_backend_golang
            sudo docker run -d --name container_mysql -p 3306:3306 -e MYSQL_ROOT_PASSWORD=123456 -e MYSQL_DATABASE=agriplant_db -e MYSQL_USER=developergolang -e MYSQL_PASSWORD=plantagridb123 mysql:latest
            sudo docker run -d -p 8080:8080 --name container_backend_golang --link container_mysql:mysql -e DB_HOST=mysql -e DB_PORT=3306 -e DB_USER=developergolang -e DB_PASSWORD=plantagridb123 -e DB_NAME=agriplant_db widhofaisal/backend-golang:latest

      # - id: 'auth'
      #   uses: 'google-github-actions/setup-gcloud@v0.3.0'
      #   with:
      #     project_id: 'capstonealterra'
      #     service_account_key: '${{ secrets.GCE_SA_KEY }}'

      # - name: SSH into Compute Engine instance and deploy
      #   uses: google-github-actions/ssh-compute@v0
      #   with:
      #     instance_name: 'agriplant'
      #     zone: 'asia-southeast2-a'
      #     ssh_private_key: '${{ secrets.GCP_SSH_PRIVATE_KEY }}'
      #     command: |
      #       sudo docker stop container_backend_golang
      #       sudo docker rm -v container_backend_golang
      #       sudo docker run -d --name container_mysql -p 3306:3306 -e MYSQL_ROOT_PASSWORD=123456 -e MYSQL_DATABASE=agriplant_db -e MYSQL_USER=developergolang -e MYSQL_PASSWORD=plantagridb123 mysql:latest
      #       sudo docker run -d -p 8080:8080 --name container_backend_golang --link container_mysql:mysql -e DB_HOST=mysql -e DB_PORT=3306 -e DB_USER=developergolang -e DB_PASSWORD=plantagridb123 -e DB_NAME=agriplant_db widhofaisal/backend-golang:latest
